*.env
.env
!.env.example

venv/
.venv/
env/
ENV/

__pychache__/
*.py[cod]
*$py.class
cache/
.pytest_cache


pip-log.txt
pip-delete-this-directory.txt

.streamlit/
streamlit_config.toml

.docker/

.sh.local